@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Row";
}
<form method="post">
    <lable>Values count</lable>
    <input type="number" name="values_count" /> <br/>
    
</form>