@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Table Creation";
}
<br/><br/>
<button id="btn_createRow" class="btn btn-primary btn-sm">Create Row</button>

<script src="~/js/redirectToCreateRow.js"></script>