@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Row";
}

<div id="form-group">
    <label>Column count:</label><br/>
    <div id="input_box">
        <input type="number" class="form-outline" placeholder="Enter count" id="countColumn"/> 
        <small class="form-text text-muted" id="smallMessage">Your number input (> 0 and < 10) </small> <br/>
    </div>
    <button class="btn btn-secondary btn-sm" id="btn_addRow" disabled>Add</button>
</div>
<script src="~/js/addRow.js"></script>
