@using TableCreation.Services
@using CsvReader
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Table Creation</title>
    </head>
    <body>
        <input type="number" id="count"/>
        <button id="btn">Click</button>

        <form method="post" id="form1">

        </form>

        <script src="~/js/index.js"></script>
@{
    if (ViewBag.Message != null)
    {
        Table table = ViewBag.Message;
        <table>
            @{
                <tr>
                    @{
                        for (int j = 0; j < table.data.header.Cells.Length; j++)
                        {
                            <th>
                                @table.data.header.Cells[j]
                            </th>
                        }
                    }
                </tr>
                for (int i = 0; i < table.Count; i++)
                {
                    <tr>
                        @{
                            foreach (CsvRow row in table.data.Rows)
                            {
                                {
                                    for (int k = 0; k < row.Cells.Length; k++)
                                    {
                                        <td>
                                            @row.Cells[k]
                                        </td>
                                    }
                                }
                            }
                        }
                    </tr>
                }
            }
        </table>
    }
}
    </body>
</html>