@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Table Using .csv";
}
<h1>Создайте таблицу</h1>

<form method="post">
    <label>Загрузить .csv файл</label> <br />
    <input type="file" name="file" /> <br />
    <input type="submit" value="Загрузить"/>
</form>