@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Your Table";
}
@using CsvReader

@{
    CsvGeneral csv = ViewBag.Message;
}
<table class="table table-striped">
    @{
        for (int i = 0; i < csv.data.header.Cells.Length;i++) 
        {
            <th>@csv.data.header.Cells[i]</th>
        }
    }

    @{
        foreach (CsvRow row in csv.data.Rows)
        {
            <tr>
            @for (int j = 0; j < row.Cells.Length; j++)
            {
                <td>@row.Cells[j]</td>
            }
            </tr>
        }
    }
    <tr>

    </tr>
    
</table>